ProjectR/Library
ProjectR/Logs
ProjectR/obj
ProjectR/Debug
ProjectR/Temp
ProjectR/.vs/ProjectR/v16/.suo
ProjectR/.vs/ProjectR/v16/Browse.VC.db
ProjectR/.vs/ProjectR/v16/Browse.VC.db-shm
ProjectR/.vs/ProjectR/v16/Browse.VC.db-wal
ProjectR/.vs/ProjectR/v16/Browse.VC.opendb
