ProjectR/Library
ProjectR/Logs
ProjectR/.vs
ProjectR/.vsconfig
ProjectR/obj
ProjectR/Debug
ProjectR/ProjectR.sln
ProjectR/Assembly-CSharp.csproj
ProjectR/Temp
ProjectR/Packages/packages-lock.json
*.csproj
ProjectR/app.config
